<ion-header>
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="insertCliente()" #clienteForm="ngForm" style="height: 100%;">
    <ion-list style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="cliente.nombre" name="nombre" required></ion-input>
      </ion-item>
      <ion-item *ngIf="clienteForm.submitted && !clienteForm.controls['nombre']?.valid">
        <ion-text color="danger">El nombre es requerido</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="cliente.correo" name="correo" type="email" required></ion-input>
      </ion-item>
      <ion-item *ngIf="clienteForm.submitted && !clienteForm.controls['correo']?.valid">
        <ion-text color="danger">El correo es requerido y debe ser válido</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="cliente.telefono" name="telefono" type="tel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="clienteForm.submitted && !clienteForm.controls['telefono']?.valid">
        <ion-text color="danger">El teléfono es requerido</ion-text>
      </ion-item>

      <ion-button expand="full" type="submit" style="margin-top: 20px;">Guardar</ion-button>
    </ion-list>
  </form>
</ion-content>